<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Site</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        button {
            font-size: 16px;
            padding: 10px 20px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Manager Site Version: {{version}}</h1>
    <p>This button will clone the site from Git and update the files.</p>
    <button onclick="git_update()">Update</button>
    <button onclick="refresh()">refresh</button>
    <button onclick="clean_log()">clean_log</button>
    <button onclick="return_home()">return</button>
    <h2>server Log:</h2>
    <pre>{{log}}</pre>

    <script>
    function git_update() {
        fetch('/git_update', { method: 'POST' })
            .then(response => response.json())  // Parse JSON response
            .then(data => {
                if (data.message === "Git update successful") {
                    location.reload();  // Refresh the page
                }
            })
            .catch(error => console.error("Error updating:", error));
    }
        function return_home()  {
            window.location.href = "/";
        }
    function refresh() {
        fetch('/goToManagerPage', { method: 'POST' })
        location.reload();
    }
        function clean_log() {
        fetch('/clean_log', { method: 'POST' })
    }
    </script>
</body>
</html>