<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Site</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        button {
            font-size: 16px;
            padding: 10px 20px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Manager Site Version: {{version}}</h1>
    <p>This button will clone the site from Git and update the files.</p>
    <button onclick="git_update()">Update</button>
    <button onclick="return_home()">return</button>

    <script>
        function git_update() {
            fetch('/git_update', { method: 'POST' });
        }
        function return_home()  {
            window.location.href = "/";
        }
    </script>
</body>
</html>